<p> 
    Kingram
    My Enneagram = Type 5. The Investigator 
    on g/h @kobyingram11
    this repo = ... <a target="_blank" href="https://github.com/kobyingram11/fuzzy-goggles">Dev Lab Mike REPO</a>
    <a href="https://www.enneagraminstitute.com/type-5">See info abt my type!</a>
    </p>
</p>

