<h1> Hello Everyone, <%=userName%> </h1> 

<h1>
    Koby's Page
</h1>

<h2> Git Er Done </h2>

<p> 
Kingram
My Enneagram = Type 5. The Investigator 
on g/h @kobyingram11
this repo = ... fuzzy-goggles
<a href="https://www.enneagraminstitute.com/type-5">See info abt my type!</a>
</p>

<!-- TODO: create issue, all update this page -->


<form method="post" action="/saveToNode">
    <label>do that data!</label>
    <input type="text" name="userName">
    <input type="submit" value="send to node via express">
</form>
